{
    "root": true,
    "plugins": ["@typescript-eslint", "import", "prettier"],
    "extends": ["prettier", "plugin:@typescript-eslint/recommended", "plugin:import/typescript"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.build.json"
    },
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "@typescript-eslint/no-explicit-any": ["error"]
    }
}
